@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
/* vars SASS */
$main-px: 30px;
$xsmall-px: 5px;
$small-px: 15px;
$large-px: 40px;
$bg-img: url(https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg);

$primary-color: #826fec;
$secondary-color: #dde9f2;
$dark-color: #31338a;
$light-color: #ffffff;

/* vars CSS */
:root {
    --main-px: 30px;
    --xsmall-px: 5px;
    --small-px: 15px;
    --large-px: 40px;
    --primary-color: #826fec;
    --secondary-color: #dde9f2;
    --dark-color: #31338a;
    --light-color: #ffffff;
}

body {
    font-family: "Verdana";
    min-height: 100vh;
    margin: 0;
}

h3 {
    font-weight: 100;
}

h4,
h5 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.bg-primary {
    background: $primary-color;
    color: $light-color;
}

.bg-secondary {
    background: $secondary-color;
    color: $dark-color;
}

.bg-white {
    background: $light-color;
}

.border-xsmall {
    border-radius: $xsmall-px;
}

.border-small {
    border-radius: $small-px;
}

.border-medium {
    border-radius: $main-px;
}

.container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $small-px;
    padding-right: $small-px;
}

.container-temp {
    position: absolute;
    left: 0;
    top: 70px;
    width: 240px;
    height: 200px;
    .title {
        display: flex;
        height: 100%;
        margin: 0;
        justify-content: flex-end;
        align-items: center;
        color: $primary-color;
        i {
            font-size: 20px;
            margin: 0 5px 0 0;
        }
    }
}
.content-generic {
    width: 100px;
    position: absolute;
}
.content-sup {
    border-radius: 0 30px 30px 10px;
    background-color: rgba(15, 24, 75, 1);
    top: 10px;
    z-index: 1;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-sup:before {
    border: solid;
    border-color: rgba(15, 24, 75, 1) transparent;
    border-width: 0 10px 10px 0;
    content: "";
    display: block;
    left: 0;
    top: -10px;
    position: absolute;
    z-index: 99;
}
.content-inf {
    border-radius: 0 0 35px 0;
    background-color: $primary-color;
    bottom: 10px;
    height: 60%;
    box-shadow: 8px 5px 20px 0px #0000007a;
    h2 {
        font-family: "Bebas Neue";
        font-size: 40px;
        margin-top: 3.5rem;
        text-align: center;
        color: $light-color;
    }
}
.content-inf:before {
    border: solid;
    border-color: rgb(124, 123, 212) transparent;
    border-width: 10px 10px 0 0;
    content: "";
    display: block;
    left: 0;
    bottom: -10px;
    position: absolute;
    z-index: 99;
}

.header {
    width: 100%;
    height: 280px;
    margin: 2rem 0;
    border-radius: $main-px;
    background: $bg-img;
    background-size: cover;
}

.content {
    display: grid;
    grid-template-columns: 65% 35%;
    .cards-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .avatares {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            font-size: small;
            color: #a1a1a1;
            margin-right: 5px;
        }
    }
    .places {
        margin-top: 1.8rem;
        height: 240px;
    }
}

.locations {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 3rem;
}

.shadow {
    box-shadow: 5px 9px 19px 0px #000000;
}

.card {
    width: 100%;
    &.days {
        height: 70px;
        display: grid;
        grid-template-columns: 1fr 70px;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: $xsmall-px;
    }
    .weathers {
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        img {
            margin: auto;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: smaller;
            text-transform: capitalize;
        }
        .weather {
            color: #a1a1a1;
        }
    }
    .metric {
        font-family: "Bebas Neue";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    .content-location {
        display: flex;
        align-items: center;
        h4 {
            flex-basis: 70px;
            width: 100%;
            word-break: break-all;
        }
        > div {
            margin-left: 5px;
            width: 140px;
        }
    }
    .metric-bl {
        color: black !important;
        font-family: "Bebas Neue";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        border-right: 3px solid #a1a1a1;
        height: 50px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.place {
        height: 240px;
        background: url(https://images.pexels.com/photos/4054998/pexels-photo-4054998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-size: cover;
        opacity: 0.85;
    }
    .info {
        display: flex;
        justify-content: center;
        font-size: small;
        color: #a1a1a1;
    }
    .address {
        display: flex;
        padding: 1rem;
        color: $light-color;
        i {
            margin: 0 10px;
        }
    }
    &.avatar {
        width: $main-px;
        height: $main-px;
        margin: 0 0 0 0.1rem;
        &.plus {
            background: var(--primary-color);
            color: $light-color;
            opacity: 0.6;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                font-size: xx-small;
            }
        }
    }
    &.places {
        height: 70px;
        border-radius: 30px;
        background: url(https://images.pexels.com/photos/2722627/pexels-photo-2722627.png?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-size: cover;
        background-position: center;
        opacity: 0.85;
        &.lg {
            background: url(https://images.pexels.com/photos/3989816/pexels-photo-3989816.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
            background-size: cover;
            background-position: center;
            position: relative;
            height: 140px;
            .btn {
                position: absolute;
                height: 100%;
                color: $light-color;
                width: 70px;
                right: 0;
                top: 0;
                border-radius: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background: #826feca6;
                }
            }
        }
    }
    &.location {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &.locationsWeather {
        height: 100px;
    }
    .card-content {
        height: 70%;
        display: grid;
        grid-template-columns: 70px 1fr;
        border-radius: 15px 15px 0px 0;
    }
}

@media screen and (max-width: 959px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        .cards-main {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
    .container {
        padding-left: $large-px;
        padding-right: $large-px;
    }
    .locations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 659px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        .cards-main {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
    .container {
        padding-left: $main-px;
        padding-right: $main-px;
    }
    .locations {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 2rem 0;
    }
}
